@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<AlumnoNotas>
@{
    ViewData["Title"] = "Area del Docente";
}

@if(@ViewBag.message == "correcto")
{
    <div align="center">
        <h3>Actualización de Notas realizada correctamente.</h3>
    </div>

}else if (@ViewBag.message == "error")
{
    <div align="center">
        <h3>Hubo un error. Revise los campos o reinicie sesión.</h3>
    </div>
}

@if(Model != null) {
    try{
        if(Model[0].Asignatura != "")
        {
            <h1 align="center">@ViewData["Title"]</h1>
        

            <!-- formulario -->

            @using(Html.BeginForm()){
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Codigo de nota</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" name="codalumno" placeholder="Codigo">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nota Parcial 1</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" name="nota1" placeholder="Parcial 1">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Nota Parcial 2</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" name="nota2" placeholder="Parcial 2">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary">Actualizar</button>
                </div>
              </div>
            }

            <!-- Fin formulario -->

            var actualasign = Model[0].Asignatura;

            

            int[] temporalarray = new int[10];

            var counter = 0;
            var position = 0;
            @foreach(var curso in Model)
            {
                if(curso.Asignatura == actualasign)
                {
                    counter++;
                    temporalarray[position] = counter;
                }
                else
                {
                    actualasign = curso.Asignatura;
                    temporalarray[position] = counter;
                    position++;
                    counter = 0;
                }
        
            }
            int[] tabscount = new int[position+1];

            @for(var index = 0; index < temporalarray.Length; index++)
            {
                if (temporalarray[index] != 0)
                {
                    tabscount[index] = temporalarray[index];
                }
            }



            var cursocount = 0;
            <h1 align="center">Asignaturas</h1>
            @for(int tableadasign = 0; tableadasign < tabscount.Length ;tableadasign++)
            {
                var pos = tabscount[tableadasign];
                <h3>@cursocount  @Model[cursocount].Asignatura (@pos Alumnos)</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Codigo Nota
                            </th>
                            <th>
                                Codigo Alumno
                            </th>
                            <th>
                                Nombres del Alumno
                            </th>
                            <th>
                                Semestre
                            </th>
                            <th>
                                Parcial 1
                            </th>
                            <th>
                                Parcial 2
                            </th>
                            <th>
                                Promedio Final
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(int row = cursocount; row < pos; row++)
                    {
                        <tr>
                            <td>
                                @Model[row].CodCarrera
                            </td>
                            <td>
                                @Model[row].CodAlumno
                            </td>
                            <td>
                                @Model[row].NombreAlumno
                            </td>
                            <td>
                                @Model[row].Semestre
                            </td>
                            <td>
                                @Model[row].Parcial1
                            </td>
                            <td>
                                @Model[row].Parcial2
                            </td>
                            <td>
                                @Model[row].NotaFinal
                            </td>
                        </tr> 
                    }
                    </tbody>
                </table>
                cursocount++;
            }

            
        }
        else
        {
            <h1 align="center">
            No puede acceder a esta area
        </h1>
        }
    }
    catch(Exception e)
    {
        <h1 align="center">
            No puede acceder a esta area
        </h1>
    }
    
}else{
    <h1 align="center">
        Se requiere iniciar sesión
    </h1>
}